.hr-timeline {
    margin-top: 20px;
    width: 100%;
    overflow-x: auto;
    position: relative;
}

.hr-timeline .items-container {
    display: table;
    width: 100%;
    z-index: 99;
    position: relative;
}

.hr-timeline .item {
    display: table-cell;
    text-align: center;
}

.hr-timeline .item .circle.selected {
    background-color: #616161;
    border: 3px #616161 solid;
}

.hr-timeline .item .circle {
    display: inline-block;
    background-color: #dfdfdf;
    border: 3px #616161 solid;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.hr-timeline .line-bg {
    background-color: #dfdfdf;
    width: 100%;
    position: absolute;
    z-index: 1;
    height: 8px;
    border-radius: 2px;
    left: 0px;
    top: 5px;
}

.hr-timeline .line {
    background-color: #c0c0c0;
    width: 0%;
    position: absolute;
    z-index: 2;
    height: 8px;
    border-radius: 2px;
    left: 0px;
    top: 5px;
}
